@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: #ededed;
  --foreground: #262424;
  --card: #f2f2f2;
  --card-foreground: #262424;
  --popover: #f2f2f2;
  --popover-foreground: #262424;
  --primary: #7b25a0;
  --primary-foreground: #f2f2f2;
  --secondary: #e5e5e5;
  --secondary-foreground: #7b25a0;
  --muted: #e5e5e5;
  --muted-foreground: #777777;
  --accent: #e9d3ee;
  --accent-foreground: #7b25a0;
  --destructive: #b04e31;
  --border: #d8d8d8;
  --input: #d8d8d8;
  --ring: #7b25a0;
  --chart-1: #7b25a0;
  --chart-2: #ab51cd;
  --chart-3: #cb87d7;
  --chart-4: #6b208b;
  --chart-5: #571b70;
  --sidebar: #e5e5e5;
  --sidebar-foreground: #262424;
  --sidebar-primary: #7b25a0;
  --sidebar-primary-foreground: #f2f2f2;
  --sidebar-accent: #e9d3ee;
  --sidebar-accent-foreground: #7b25a0;
  --sidebar-border: #cccccc;
  --sidebar-ring: #7b25a0;

  --font-sans: Inter;
  --font-serif: serif;
  --font-mono: monospace;

  --radius: 0.5rem;

  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --destructive-foreground: #f2f2f2;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --tracking-normal: normal;
}

.dark {
  --background: #212121;
  --foreground: #f2f2f2;
  --card: #282828;
  --card-foreground: #f2f2f2;
  --popover: #393939;
  --popover-foreground: #f2f2f2;
  --primary: #9a39d1;
  --primary-foreground: #f2f2f2;
  --secondary: #393939;
  --secondary-foreground: #f2f2f2;
  --muted: #393939;
  --muted-foreground: #b6b6b6;
  --accent: #4c4c4c;
  --accent-foreground: #f2f2f2;
  --destructive: #a14b2d;
  --border: #393939;
  --input: #4c4c4c;
  --ring: #9a39d1;
  --chart-1: #9a39d1;
  --chart-2: #7b25a0;
  --chart-3: #b662de;
  --chart-4: #8233af;
  --chart-5: #69278f;
  --sidebar: #000000;
  --sidebar-foreground: #b6b6b6;
  --sidebar-primary: #9a39d1;
  --sidebar-primary-foreground: #f2f2f2;
  --sidebar-accent: #393939;
  --sidebar-accent-foreground: #f2f2f2;
  --sidebar-border: #393939;
  --sidebar-ring: #9a39d1;

  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.2),
    0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.2),
    0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.2),
    0px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.2),
    0px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.2),
    0px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.5);
  --destructive-foreground: #f2f2f2;
  --radius: 0.5rem;
  --font-sans: Inter;
  --font-serif: serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: Inter;
  --font-mono: monospace;
  --font-serif: serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
